In [1]:
import pandas as pd
import numpy as np
from model_train.base.data import process_data
from model_train.base import model
import pickle
from sklearn.model_selection import train_test_split

In [2]:
#import data from data
df = pd.read_csv('data/censusclean.csv')

In [3]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
train, test = train_test_split(df, test_size=0.20)

In [5]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)

In [6]:
X_test, y_test, _, _ = process_data(test, categorical_features=cat_features, label="salary", training=False, encoder=encoder, lb=lb)

In [7]:
output_model = model.train_model(X_train, y_train)

In [8]:
train_preds = model.inference(output_model, X_train)
test_preds = model.inference(output_model, X_test)

In [9]:
precision, recall, fbeta = model.compute_model_metrics(y_test,test_preds)
print (f"prec:{precision}, recall:{recall}, fbeta:{fbeta}")

prec:0.7794486215538847, recall:0.5984605516356639, fbeta:0.6770682148040638

In [10]:
model.compute_slice_metrics(test,cat_features,output_model,encoder,lb)